.brand {
    padding-left: 30px;
    font-size: 15px;
}

.navi {
    position: sticky;
    top: 0;
   
}

.ml-auto {
    padding-right: 20px;
}

.me-auto {
    font-size: 15px;
}

.test{
    background-color: red;
}