.brand {
    padding-left: 30px;
    font-size: 15px;
}

.navi {
    position: sticky;
    top: 0; 
    padding: 0 30px;
    justify-content: space-between;   
}

.ml-auto {
    padding-right: 20px;
}

.me-auto {
    font-size: 15px;
}

.test{
    background-color: red;
}